# =========================================== #
#    C O M P I L E D    S O U R C E           #
# =========================================== #
*.com
*.class
*.dll
*.exe
*.o
*.so

# =========================================== #
#    P A C K A G E S                          #
# =========================================== #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# =========================================== #
#    L O G    A N D    D A T A B A S E S      #
# =========================================== #
*.log
*.sqlite

# =========================================== #
#    O S    G E N E R A T E D    F I L E S    #
# =========================================== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================================== #
#    E C L I P S E    S T U F F               #
# =========================================== #
target
.classpath
.settings
.project
RemoteSystemsTempFiles
.metadata
.recommenders

# =========================================== #
#    I N T E L L I J    S T U F F             #
# =========================================== #
*.iml
.idea/*
!.idea/runConfigurations/

# =========================================== #
#    A S C I I D O C    S T U F F             #
# =========================================== #
.asciidoctor

# =========================================== #
#    O T H E R    S T U F F                   #
# =========================================== #
clean.sh
